fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
httpx
python-multipart
python-jose[cryptography]
passlib[bcrypt]
email-validator
sqlalchemy
redis
arabic-reshaper
python-bidi
beautifulsoup4
lxml